


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    background: rgb(127,127,127);
    padding: 30px;
    border-radius: 12px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #222;
    margin-bottom: 8px;
}

.subtitle {
    text-align: center;
    color: #777;
    margin-bottom: 25px;
}

.input-section {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 16px;
}

#addTaskBtn {
    padding: 12px 18px;

    border: none;
    border-radius: 6px;

    background: #04f484;
    color: white;

    cursor: pointer;
}

#addTaskBtn:hover {
    background: #1d4ed8;
}

.task-info {
    display: flex;
    justify-content: space-between;

    margin: 20px 0;

    color: #f70000;
}

#taskList {
    list-style: none;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 12px;

    margin-bottom: 10px;

    background: #f8fafc;

    border-radius: 6px;

    border-left: 4px solid #2563eb;
}

.task-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-text {
    font-size: 16px;
}

.completed {
    text-decoration: line-through;
    color: #999;
}

.delete-btn {
    background: #ef4444;
    color: white;

    border: none;
    border-radius: 5px;

    padding: 6px 10px;

    cursor: pointer;
}

.delete-btn:hover {
    background: #dc2626;
}

.clear-btn {
    width: 100%;

    margin-top: 15px;
    padding: 12px;

    background: #111827;
    color: white;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.clear-btn:hover {
    background: #000;
}